.bundle/
log/*.log
pkg/

spec/internal_test_hyrax/log/*.log
spec/internal_test_hyrax/node_modules/
spec/internal_test_hyrax/yarn-error.log
spec/internal_test_hyrax/storage/
spec/internal_test_hyrax/tmp/
db/migrate/*.hyrax.rb
.byebug_history
coverage/
tmp/
# rspec failure tracking
.rspec_status
config/initializers/hyrax/autopopulation/configure.rb
core
config/definitions.rb
