
<%= menu.nav_link(hyrax_autopopulation.work_fetchers_path) do %>
    <span class="fas fa-cloud-download-al"></span> <span class="sidebar-action-text"><%= t('hyrax.autopopulation.admin.sidebar.autopopulations') %></span>
<% end %>
  