
<%= menu.nav_link(hyrax_autopopulation.work_fetchers_path) do %>
  <span class="fa fa-upload" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.autopopulation.admin.sidebar.autopopulations') %></span>
<% end %>
  